.ai-evolution {
  background: #ffffff; ;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  padding: 12px;
  margin: 0.5vw;
  flex-direction: row; /* デフォルトは横並び */
}

.name {
  font-size: 3vw;
}

h1 {
  font-size: 6vw;
}

.Image {
  flex: 1;
}
.Exp{
  padding: 0;
}
.Lv{
  padding: 0px 200px;
}

.Level {
  flex: 1;
  margin-left: 20px;
  text-align: left;
}

.Level h3 {
  margin-bottom: 5px;
  text-align: left;
}

.Level h1 {
  margin: 0;
  text-align: left;
}

.Level p {
  font-size: 16px;
  line-height: 1.5;
}

.click-button {
  position: relative;
  justify-content: space-around;
  align-items: center;
  max-width: 250px;
  color: #333;
  font-family: "Noto Sans Japanese";
  text-decoration: none;
  color: #333;
  line-height: 1.8;
  font-weight: 500;
  background: #eee;
  border-radius: 9999px;
  border-bottom: 2px solid #999;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
  width: 50vw;
  height: 3vw;
  display: block;
  margin: auto;
  padding: 1vw;
}
.click-button:active{
  color: #fff;
  background: #000000;
  border-bottom: 2px solid #fff;
  transform: translateY(3px);
}

/* スマホ用スタイル */
@media screen and (max-width: 600px) {
  .ai-evolution {
    flex-direction: column; /* 縦並びに変更 */
    padding: 10px;
  }

  .Image {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .Exp{
    padding: 10px;
  }
  .Lv{
    padding: 10px;
  }

  .Image img {
    width: 100%;
    height: auto;
  }

  .Level {
    margin-left: 0;
  }

  h1 {
    font-size: 8vw; /* スマホ用にフォントサイズを大きく */
  }

  .name {
    font-size: 5vw; /* スマホ用にフォントサイズを大きく */
  }

  .Level p {
    font-size: 4vw; /* スマホ用にフォントサイズを大きく */
  }

  .click-button {
    width: 80vw; /* ボタンの幅をスマホ用に広く */
    height: 10vw; /* ボタンの高さをスマホ用に大きく */
  }
}
